@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-light-gray);
  width: 320px;
  height: 540px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Montserrat font weights */
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: local('Montserrat'), url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
}

button {
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

